/**
 * Cascading Style Sheet for GarDeRobe WordPress Theme
 * Author: Jérôme Röthlisberger
 * Email: jerome.roethlisberger@gibmit.ch
 */
*{
    font-size: 15px;
    line-height: 1.2;
    font-family: Helvetica, Verdana, Geneva, Arial, sans-serif;
}

h1 {
    font-size: 1.6em;
}
h2 {
    font-size: 1.4em;
}
h3 {
    font-size: 1.2em;
}
h4 {
    font-size: 1.1em;
}

.single, .home {
    background-color: rgb(214, 210, 194);
}
.site {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(214, 210, 194);
}
.site-header {
    background-color: rgb(187,94, 46);
}
.main-navigation {
    background-color: rgb(214, 210, 194);
}
.main-navigation a {
    background-color: rgb(180, 201, 96);
    color: rgb(255, 255, 255);
    box-shadow: rgb(0,0,0) 0.2px;
    border-radius: 10px;
    min-height: 40px;
    min-width: 80px;
    margin-right: 5px;
    margin-bottom: 3px;
}
.site-content {
    background-color: rgb(145, 196, 194);
}
footer {
    font-size: 12px;
}